<div class="cb-root">
    <table cellspacing="0" cellpadding="0" class="cb-table">
        <tbody>
            <tr>
                <th class="cb-key">
                     会议室名称：
                </th>
                <td class="cb-value">
                    <div class="textbox-fill-wrapper">
                        <div class="textbox-fill-mid">
                            <input type="text" id="name" class="textbox-fill-input"/>
				                </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="cb-key">
                    状态：
                </th>
                <td class="cb-value">
                    <div class="textbox-fill-wrapper">
                        <div class="textbox-fill-mid">
                            <input type="checkbox" id="enabled" checked="true"/>启用
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>