<div class="cb-root">
    <table cellspacing="0" cellpadding="0" class="cb-table">
        <tbody>
            <tr>
                <th class="cb-key">
                    请输入密码：
                </th>
                <td class="cb-value">
                    <div class="textbox-fill-wrapper">
                        <div class="textbox-fill-mid">
                            <input type="text" id="confirmPassword"/>
				        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>